spring:
 application:
  name: patient

 datasource:
  url: jdbc:sqlserver://localhost:1433;databaseName=patient;encrypt=true;trustServerCertificate=true
  username: hr_user
  password: 123
  driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
 jpa:
  show-sql: true
  hibernate:
   ddl-auto: update
  properties:
   hibernate:
    dialect: org.hibernate.dialect.SQLServer2012Dialect

 cloud:
  config:
   enabled: false
   discovery:
    enabled: true

server:
 port: 9000
 servlet:
  context-path: /patient

eureka:
 client:
  service-url:
   defaultZone: http://localhost:8761/eureka
 instance:
  prefer-ip-address: true