server:
  port: 1000

spring:
  application:
    name: api-getway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # The map (Routes) can be defined here or in Java Config
#      routes:
#        - id: auth-service
#          uri: lb://AUTH-SERVICE
#          predicates:
#            - Path=/auth/**
#        - id: user-service
#          uri: lb://USER-SERVICE
#          predicates:
#            - Path=/users/**

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
