server:
  port: 3000
  servlet:
  context-path: /payment
spring:
  application:
    name: payment
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=payment;encrypt=true;trustServerCertificate=true
    username: hr_user
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServer2012Dialect
  cloud:
    config:
      enabled: false
      discovery:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
