server:
  port: 3000

spring:
  application:
    name: payment
  cloud:
    config:
      enabled: false
      discovery:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true